@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    -ms-overflow-style: none;  
     scrollbar-width: none;
}
*::-webkit-scrollbar{
	display: none;
}

.map{
    padding: 10%;
}

.dot {
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}
.portfolio-box{
    position: relative;
    background-color: rgba(43, 42, 42, 0.863);
}

.rate{
    margin: auto;
}
.rate td{
    padding: .3em;
    border-radius: 0.3em;
}

.rate td:hover{
    background-color: chartreuse;
}

.rate tr :nth-child(even){
    background-color:burlywood ;
}

.rate tr :nth-child(odd){
    background-color: #99d455c9;
}

.portfolio-box .title{
    font-style:italic;
    font-weight: bold;
    position: absolute;
    float: right;
    background-color: #ffae00;
    padding-left: 2em;
    font-size: 2em;
    padding: 1em;
    margin-top: 1em;
    border-radius: 0em 1em 1em 0em ;
}

.portfolio-box ul{
    justify-content: center;
    color: white;
    list-style: none;
    padding-top: 8em;
    font-size: large;
}

.portfolio-box li{
    width: 35vw;
    text-align: center;
    position: relative;
    min-height: 10vh;
    padding-top: 2em;
}

.portfolio-box li:nth-child(even){
    margin-left: 38vw;
    padding-left: 10px;
    border-color: rgba(218, 218, 218, 0.89);
    border-left-style:groove;
    border-width: 0.7em;
}
.portfolio-box li:nth-child(odd){
    border-color: rgba(218, 218, 218, 0.89);
    border-right-style: groove;
    border-width: 0.7em;
    padding-right: 3vw;
} 

.portfolio-box li:nth-child(even) .dot{
    background-color: #ff5722;
    top:-2px;
    left: -1.1em;
}

.portfolio-box li:nth-child(odd) .dot{
    background-color: #ffee58;
    top:-2px;
    right: -1.1em;
}



@media screen and (max-width: 1024px) {
    .portfolio-box{
        margin-left: 4%;
    }
}


@media screen and (min-width: 1024px) {
    .map{
        display: flex;
        justify-content: center;
    }
}
